body{
	/*background:linear-gradient(rgba());*/
	/*background:linear-gradient(rgba(255, 255, 255,0.5),rgba(225, 225, 225, 0.5)),url(../images/bg1.jpg);*/
	/*background-size: cover;*/
	/*background-position: top;*/
	/*background-repeat: no-repeat;*/

	background-color: #A02C2D;
	color: white;
	font-family: 'Bungee Inline', cursive;
}


.headerbg{
	background-color: #A02C2D;
}

/*font style and color of navbar text  || Hover */

.btnsactive{
	font-size: 20px;
	color: #A02C2D !important;
	background-color: white !important;
	/*text-shadow: 5px 5px 5px white;*/
}

.btnsnotactive{
	font-size: 20px;
	background-color: #A02C2D !important;
	color: white !important;
}


/*Hover*/
.btnsactive:hover{
	font-weight: bolder;
	color: #A02C2D !important;
	/*text-shadow: 5px 5px 5px yellow;*/
}


.btnsnotactive:hover{
	font-weight: bolder;
	color: #A02C2D !important;
	background-color: white !important;
/*	border-left: 2px solid #A02C2D !important;
border-right: 2px solid #A02C2D !important;*/
}

.logoicon{
	font-size: 20px;
	color: white !important;
	background-color: #A02C2D !important;
}
.logoicon:hover{
	font-weight: bolder;
}
/**/

/*Card image size*/
.cardimgsize{
	height: 200px !important;
	width: 100% !important;
}

/*Footer*/
/*hover for footer and header*/
.navbarhover:hover{
	background:black !important;
}
/**/

/*fonts*/
/*fonts*/
.bungeeshade{
	font-family: 'Bungee Shade', cursive;
}

.monoton{
	font-family: 'Monoton', cursive;	
	font-size: 30px;
}
.monda{
	font-family: 'Monda', sans-serif;
}

.audiowide{
	font-family: 'Audiowide', cursive;
}

.press2p{
	font-family: 'Press Start 2P', cursive;
}

/**/
/**/

.rowone{
	height: 65vh;
}

.row2border{
	padding: 48px 0px 48px 0px;
	border-style: double;
	border-width: 1px 0px 1px 0px;
	border-color: white;
}

.learnmorebtn{
	color:white !important;
}

.icon{
	font-size: 250px;
}
.arrowsdt{
	font-size: 30px;
}

.gallerythumbnail{
	width: 150px !important;
	height: 200px !important;
}

.gallerythumbnail:hover, .unitythumbnail:hover{
	opacity: 0.85;
}

.modalbg{
	background-color: #A02C2D !important;
}

.asd{
	position: relative
}
.asd2{
	text-shadow: 0px 0px 10px black;
	color: gold;
	position: absolute;
	right:15px;
	top:15px;
}/*gold star*/
.asd3{
	text-shadow: 0px 0px 10px black;
	color: skyblue;
	position: absolute;
	right:15px;
	top:15px;
}/*silver star*/
.asd4{
	text-shadow: 0px 0px 10px black;
	color: silver;
	position: absolute;
	right:15px;
	top:15px;
}/*skyblue star*/
.asd2:hover, .asd3:hover, .asd4:hover{
	font-size: 20px !important;
}

.carouselimg{
	height: 400px !important;
	width: 100% !important;
}

.rocket:hover{
	color: #e4e4e4;
}

.unitythumbnail{
	width: 150px !important;
	height: 150px !important;
}

.goldstar{
	color: gold;
	text-shadow: 0px 0px 10px black;
}

.skybluestar{
	color: skyblue;
	text-shadow: 0px 0px 10px black;
}

.silverstar{
	color: silver;
	text-shadow: 0px 0px 10px black;
}

.unityicon{
	width: 50px;
	height: 50px
}

@media only screen and (max-width: 321px) {

.carouselimg{
	height: 150px !important;
	width: 100% !important;
}

