body{
	/*background:linear-gradient(rgba());*/
	/*background:linear-gradient(rgba(255, 255, 255,0.5),rgba(225, 225, 225, 0.5)),url(../images/bg1.jpg);*/
	/*background-size: cover;*/
	/*background-position: top;*/
	/*background-repeat: no-repeat;*/

	background-color: #6552a7;
	color: white;
	font-family: 'Bungee Inline', cursive;
}


.headerbg{
	background-color: #6552a7;
}

/*font style and color of navbar text  || Hover */

.btnsactive{
	font-size: 20px;
	color: #6552a7 !important;
	background-color: white !important;
	/*text-shadow: 5px 5px 5px white;*/
}

.btnsnotactive{
	font-size: 20px;
	background-color: #6552a7 !important;
	color: white !important;
}


/*Hover*/
.btnsactive:hover{
	font-weight: bolder;
	color: #6552a7 !important;
	/*text-shadow: 5px 5px 5px yellow;*/
}


.btnsnotactive:hover{
	font-weight: bolder;
	color: #6552a7 !important;
	background-color: white !important;
/*	border-left: 2px solid #6552a7 !important;
border-right: 2px solid #6552a7 !important;*/
}

.logoicon{
	font-size: 20px;
	color: white !important;
	background-color: #6552a7 !important;
}

.logoicon:hover{
	font-weight: bolder;
}
/**/

/*Card image size*/
.cardimgsize{
	height: 200px !important;
	width: 100% !important;
}

/*Footer*/
/*hover for footer and header*/
.navbarhover:hover{
	background:black !important;
}
/**/

/*fonts*/
/*fonts*/
.bungeeshade{
	font-family: 'Bungee Shade', cursive;
}

.monoton{
	font-family: 'Monoton', cursive;	
	font-size: 30px;
}
.monda{
	font-family: 'Monda', sans-serif;
}

.audiowide{
	font-family: 'Audiowide', cursive;
}

.press2p{
	font-family: 'Press Start 2P', cursive;
}
/**/
/**/

.rowone{
	height: 65vh;
}

.row2border{
	padding: 48px 0px 48px 0px;
	border-style: double;
	border-width: 1px 0px 0px 0px;
	border-color: white;
}

.learnmorebtn{
	background-color: #6552a7 !important;
	color:white !important;	
}

.icon{
	font-size: 250px;
}

.arrowsdt{
	font-size: 30px;
}

.quotefont{
	font-size:22px !important;
}

.galleryarrowdown{

}

@media only screen and (max-width: 321px) {

.icon{
	font-size: 200px;
}

}
